{% extends 'store/home_base.html' %}
{% load static %}
{% block main_content %}

<div class="home">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div>
        <center style="font-size: 50pt; font-weight: bolder; color: black;">
            <span style="color: rgb(55, 133, 71);">Nudge</span> Returns
        </center>
        <br>
        <center style="color: black;">
            We increase the proportion of your returns that convert to exchange purchases.
        </center>
    </div>

    <br>
    <br>
    <br>

    <center style="font-size: 50pt; font-weight: bolder;"> &#8595; </center>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="m-4">
        <center style="font-weight: bolder; font-size: 30pt;">The Problem</div>
    </div>

    <div class="m-4">
        <center>Full cash refunds cost the retailer more than just a lost sale ...</div>
    </div>
    <div class="shadow card border-0 m-4" style="background-color: rgb(255, 226, 225); bottom: -20px;">
        <div class="row m-4">
            <div>
                <span style="font-weight: bolder;">1. Lost Sale to a Refund</span> 
            </div>
        </div>
    </div>

    <center style="font-size: 50pt;">
        +
    </center>

    <div class="shadow card border-0 m-4" style="background-color: rgb(255, 226, 225); top: -40px;">
        <div class="row m-4">
            
            <br>
            <br>
            <div>
                <span style="font-weight: bolder;">2. Customer Acquisiton Cost (CAC):</span> Once a customer recieves cash back, they're unlikely to make repeat purchases from the store. Now you need to double down on your CAC to replace the lost customer.
            </div>
            <br>
            <br>
            <br>
            <div> 
                <span style="font-weight: bolder;">3. Sunk Shipping and Handling costs:</span> the extra costs associated with returned items are now pure losses not even associated with a sale
            </div>
            <br>
            <br>
            <br>
            <div>
                <span style="font-weight: bolder;">4. Repeat Customers spend more:</span> losing a loyal customer and replacing them with a new customer will decrease overall spend.
            </div>
        </div>
    </div>

    <center>
        We dug deeper into the problem and found that ...
    </center>

    <br>

    <div class="row">
        <center class="col" style="font-size: 80pt;">
            <div style="font-size: 80pt; background-color: none;"  class="btn" data-toggle="popover" title="Shopify Plus Research: https://www.shopify.ca/enterprise/ecommerce-returns" data-content="">20%</button>
        </center>
        <center class="col" style="font-size: 80pt;">
            <div style="font-size: 80pt;" class="btn" data-toggle="popover" title="We surveyed over 200 consumers across North America" data-content="">79%</button>
        </center>
        <center class="col" style="font-size: 80pt;">
            <div style="font-size: 80pt;" class="btn" data-toggle="popover" title="We surveyed over 200 consumers across North America" data-content="">68%</button>
        </center>
    </div>
    <div class="row">
        <center class="col m-3" style="font-size: 20pt;">
            of purchases made online are returned compared to 9% of items bought in-store
        </center>
        <center class="col" style="font-size: 20pt;">
            of consumers are more likely to choose store credit over cash if they can split between the two
        </center>
        <center class="col" style="font-size: 20pt;">
            of consumers are more likely to exchange an item if they are offered incentives.
        </center>
    </div>
    <br>
    <br>

    <div class="m-4">
        <center style="font-weight: bolder; font-size: 30pt;">Our Solution</div>
    </div>

    <div class="m-4">
        <center>We'll provide instant refunds and let customers choose the proportion of their refund that is store credit vs. cash</div>
    </div>

    <div class="shadow card border-0 m-4" style="background-color: rgb(229, 255, 225);">
        <div class="row m-4">
            <center class="col-2" style="font-size: 20pt;">
                Customer Initiates Return
            </center>
            <div class="col-1 m-2" style="font-size: 50pt; font-weight: bolder;">
                &#8594;
            </div>
            <center class="col-2" style="font-size: 20pt;">
                Customer Splits the return between Store Credit and Cash
            </center>
            <div class="col-1 m-2" style="font-size: 50pt; font-weight: bolder; ">
                &#8594;
            </div>
            <center class="col-2" style="font-size: 20pt;">
                We incentivize the customer to maximize their Store Credit proportion (Discounts, Free Items ... etc)
            </center>
            <div class="col-1 m-2" style="font-size: 50pt; font-weight: bolder;">
                &#8594;
            </div>
            <center class="col-2" style="font-size: 20pt;">
                We front the cost of Store Credit instantly (even before return item ships back)
            </center>
        </div>
    </div>

    <br>

    <div class="m-4">
        <center style="font-weight: bolder; font-size: 30pt;">How you'll benefit</div>
    </div>


    <div class="shadow card border-0 m-4" style="background-color: rgb(229, 255, 225);">
        <div class="row m-4">
            
            <br>
            <div>
                <span style="font-weight: normal;">1. Decreased Loss from customer returns</span> 
            </div>
            <br>
            <div> 
                <span style="font-weight: normal;">2. Increased Sales (Customers who are more confident in the returns process spend more)</span> 
            </div>
            <br>
            <div>
                <span style="font-weight: normal;">3. Decreased Customer Acquisiton spend.</span> 
            </div>
            <br>
            <div>
                <span style="font-weight: normal;">4. Increased Customer Retention.</span> 
            </div>
            
        </div>
    </div>

    <br>

    
    <center class="col m-3">
        <a href="{% url 'login' %}" class="demo btn btn-success"> Try a Demo</a>
    </center>
    <center >
        <a href="{% url 'login' %}" class="col btn btn-success"> Join X others on the waitlist</a>
    </center>


    <br>
    <br>

    
</div>

<div class="footer" style="background-color: rgb(232, 232, 232);">
    <div class="m-4">
        <center class="m-4">
            Contact Us:
            <br>
            Email: mackiecharlie@hotmail.com | Phone: 647 981-2581
            <br>
            <div>&#127744;</div>
        </center>
    </div>
</div>



{% endblock %}

{% block scripts %}
    <script src="{% static 'store/js/stats_popup.js' %}"></script>
{% endblock %}