{% extends 'store/base.html' %}
{% load static %}
{% block main_content %}

<div class="card fixed">

    <div class="row m-3" style="font-size: 20pt;">
        Which items would you like to return?
    </div>

    <form action="{% url 'slider' %}" method="POST">
        {% csrf_token %}
        {% for item in items %}
        <div class="row m-2">
            <button type="button" class="btn btn-light" name="{{ item.name }}" value="{{ item.price }}">
                <div class="row">
                    <div class="col-3">{{ item.name }}</div>
                    <div class="col-3">{{ item.price }}$</div>
                    <div class="col-3">{{ item.size }}</div>
                    <div class="col-3">
                        <input type="checkbox" id="radio" name="{{ item.name }}" value="{{ item.price }}"/>
                    </div>
                    <select id="inputState" class="col m-3 form-select">
                        <option selected>Why?...</option>
                        <option>Too Big</option>
                        <option>Too Small</option>
                        <option>Dont like it</option>
                        <option>Damaged</option>
                    </select>
                </div>
            </button>
        </div>
        {% endfor %}

        <div class="p-3">
            <button type="submit" class="btn btn-success">Instant Store Credit</button>
        </div>
    </form>
    
</div>

{% endblock %}